body {
    background-color: #112e38;
    color: #9faeae;
    font-family: monospace;
    font-size: 1.5em;
}

pre {
    white-space: pre-wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.col {
    flex: 0.48;
    margin-right: 1em;
}

.CodeMirror { height: 95vh; }

button {
    width: 100%;
    height: 2em;
    border: 0.5vmin solid #46565a;
    border-radius: 0.2em;
    background-color: #112e38;
    color: #cad8d9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    font-size: 1.5em;
    font-family: monospace;
    cursor: pointer;
}

button:hover {
    background: #9faeae;
}

#term-box {
    padding: 0.5vmin;
    white-space: pre-wrap;
    overflow-y: scroll;
    background-color: #254a57;
    color: #9faeae;
    scrollbar-color: #9faeae #61777c;
    height: 25vh;
}

#tui {
    background-color: #254a57;
    height: 60vh;
    border: #cad8d9;
    border-style: solid;
    overflow: hidden;
    font-family: monospace;
    font-size: 16px;
}

.d {
    color: #9faeae;
    background-color: #254a57;
}
.i {
    background-color: #9faeae;
    color: #254a57;
}